@font-face {
  font-family: "Mada";
  src: url("../tipografia/Mada/Mada-ExtraLight.ttf");
}

.class_h3{
    text-align: center;
}

h3{
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: "Mada";
    font-weight: 300;
    letter-spacing: 2px;
}

.uvc-heading-spacer{
    margin: 0 auto;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.uvc-headings-line{
    border-style: solid; 
    border-bottom-width: 1px; 
    border-color: rgb(239, 145, 0); 
    width: 1px; 
    margin: 0 auto;
}

  .bar {
    margin-top: 10px;
    color: #333;
    background: #fafafa;
    border: 1px solid #ccc;
  }

  .error {
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
  }

  .success {
    color: #2b7515;
    background: #ecffd6;
    border: 1px solid #617c42;
  }
   